<p id="notice"><%= notice %></p>

<p>
  <b>Bird:</b>
  <%= @event.bird %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Spotter:</b>
  <%= @event.spotter %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
