<div class="container">
  <h1>Inquiries</h1>
  <h3><%= notice %></h3>

  <table class="table table-striped">
    <thead>
      <th>Email</th>
      <th>Subject</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% @inquiries.each do |inquiry| %>
        <tr>
          <td><%= inquiry.user.email %></td>
          <td><%= inquiry.subject %></td>
          <td><%= inquiry.description %></td>
          <td><%= link_to "Show", inquiry_path(inquiry) %></td>
          <% if current_user == inquiry.user %>
          <td><%= link_to "Edit", edit_inquiry_path(inquiry) %></td>
          <td><%= link_to "Destroy", inquiry_path(inquiry), method: :delete %></td>
          <% end %>


        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New Inquiry", new_inquiry_path %>
</div>

